<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearesputnik.istoria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- <uses-permission android:name="android.permission.ACCOUNT_MANAGER" /> -->
    <application
        android:name=".UILApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="IstoriaDB" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="8" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.wearesputnik.istoria.models.BookModel, com.wearesputnik.istoria.models.IstoriaInfo, com.wearesputnik.istoria.models.TypeBook, com.wearesputnik.istoria.models.UserModel" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ItemBookReadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.YoutubeActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapProgressActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.BooksService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>